body, html {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 635px) {
    .cards {
        justify-content: center;
    }
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    padding: 5px;
}

.add-card {
    perspective: 1000px; /* Remove this if you don't want the 3D effect */

    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    padding: 10px;
    min-width: 300px;
    min-height: 400px;
}

.add-card .flip-card-front {
    padding: 10px;
}

.add-card .flip-card-back {
    padding: 10px;
}

.modal {
    position: fixed;
    top: 0;
    width: 100%;
    background: #00000080;
    height: 100%;
    display: none;
}

.add-card-inner {
    width: 100%;
    text-align: center;
    transition: transform 0.2s;
    transform-style: preserve-3d;
    cursor: pointer;
    height: 100%;
    margin-bottom: 7px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 5px;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 8px;
    /*opacity: 1;*/

    overflow: scroll;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    border-radius: 8px;

    overflow: hidden;
}

.recovered {
    transform: rotateY(180deg);
}

.scrollable {
    overflow: scroll;
}

.no-scrollable {
    overflow: hidden;
}

.image {
    max-width: 300px;
    height: auto;
    width: auto;
    max-height: 100px;
}

.title {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
}

.text {
    margin: 0;
    font-weight: 200;
    padding: 0;
    text-align: justify;
}

.upload-file {
    cursor: pointer;
}

.upload-file input {
    display: none;
}

.upload-icon {
    cursor: pointer;
}

.flip-icon, .close-icon {
    cursor: pointer;
    position: absolute;
    z-index: 1;

    right: 15px;
    top: 15px;
}

.visible {
    display: block;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: flex-start;
}

.file-row {
    flex-direction: row;
}

.left {
    font-size: 18px;
    text-align: left;
    padding: 3px 0;
}

.right {
    flex-grow: 1;
}

.add-new-card {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 1px solid #0000ffcf;
    border-radius: 3px;
    outline: none;

    left: 50%;
    position: absolute;
    transform: translate(-50%);
    cursor: pointer;

    color: #fff;
    text-transform: uppercase;
}



.card-title, .card-text {
    padding: 0.75em 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    line-height: normal;
    border-radius: 0;
    border: none;
    background: none;
    display: block;
    font: inherit;
    line-height: normal;
    box-sizing: border-box;
    background: #222222;
    color: white;
    margin: 0;
}

.card-title:focus, .card-text:focus {
    background-color: #ffffff57;
}

.ask-card, .answer-card {
    background: black;
    color: azure;
}

.add-card-container {
    height: 200px;
    perspective: 1000px;
    padding: 5px;
    width: 300px;
}

.add-card-button {
    border-radius: 3px;
    outline: none;
    cursor: pointer;

    width: 100%;
    height: 100%;
    perspective: 1000px;
    padding: 5px;
    font-size: 35px;
    color: #455193;
    background-color: #f1eaeac7;
}
